---
import { Heading, PreviewCard, Stack } from '@halyard/ui'
import Layout from '../../layouts/Layout.astro'
import { prisma } from '@portfolio/db'

const posts = await prisma.post.findMany({
  where: { published: true },
  orderBy: { createdAt: 'desc' },
})

// Format dates for display
const dateOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
} as const

const formattedPosts = posts.map((post) => {
  const createdDate = new Date(post.createdAt)
  return {
    title: post.title,
    slug: post.slug,
    description: post.description,
    created: {
      formatted: createdDate.toLocaleString('en-US', dateOptions),
      raw: post.createdAt.toISOString(),
    },
  }
})
---

<Layout
  title="Alex Hinds Posts | alhinds.com"
  description="Articles and blog posts for my website."
>
  <Stack gap="gap-8">
    <Heading className="heading-xl" id="posts" as="h1">Posts</Heading>
    <ul class="flex gap-8 flex-col" aria-describedby="posts">
      {
        formattedPosts.map((post) => (
          <li class="flex flex-col gap-1">
            <PreviewCard
              heading={post.title}
              href={`/posts/${post.slug}`}
              published={{
                formatted: post.created.formatted,
                iso: post.created.raw,
              }}
            >
              {post.description}
            </PreviewCard>
          </li>
        ))
      }
    </ul>
  </Stack>
</Layout>
