@import url('@portfolio/reset/reset.css');
@import url('@portfolio/reset/theme.css');

@page {
  size: 210mm 317mm;
  margin: 0;
}

:root {
  --splash-font-size: 4rem;
}

h1 {
  font: var(--font-heading-lg);
  font-size: var(--splash-font-size);
  line-height: var(--splash-font-size);
}

h2 {
  font: var(--font-heading-md);
}

h3 {
  font: var(--font-heading-xs);
}

p {
  font: var(--font-body-sm);
}

@media print {
  :root {
    --splash-font-size: 3rem;
  }

  a {
    text-decoration: none;
  }

  .copyright {
    display: none;
  }

  body {
    max-width: 210mm;
  }

  address {
    grid-template-columns: repeat(3, 1fr);
  }

  p {
    line-height: 1.5;
  }
}

address {
  display: grid;
  font-style: normal;
}

body {
  margin: auto;
  max-width: 48rem;
  box-sizing: border-box;
}

p {
  margin-block-end: 1rem;
}

h1,
h2,
h3,
p {
  margin-block-end: 1rem;
}

h1 {
  margin: 0;
}

h3 {
  margin-block-end: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container {
  padding: 1.25rem 2rem;
}

.column:first-of-type {
  background-color: var(--accent-bg-color); /*#d99;*/
}

header {
  align-items: baseline;
  display: flex;
  font-size: var(--splash-font-size);
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: block;
  overflow: visible;
  height: 0.7em;
}

footer {
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

footer p {
  margin-block: 0.25rem;
}

.copyright {
  margin-block-start: 1rem;
}

@media not print {
  main {
    grid-template-columns: 1fr;
  }

  address {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media screen and (orientation: portrait) and (max-width: 36rem) {
  :root {
    --splash-font-size: 2.5rem;
  }

  address {
    grid-template-columns: 1fr;
  }
}
