@import '@halyard/reset/reset.css';
@import '@halyard/reset/theme.css';
@import '@halyard/tailwind-preset';

@source "../**/*.{astro,html,js,jsx,ts,tsx}";
@source "../../node_modules/@halyard/ui/**/*.{js,jsx,ts,tsx}";
