@page {
  size: 210mm 317mm;
  margin: 27mm 16mm 27mm 16mm;
}

@media print {
  :root {
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

address {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-style: normal;
}

:root {
  --splash-font-size: 4.5rem;
  background-color: var(--neutral-surface);
}

body {
  margin: auto;
  font-size: 1rem;
  position: relative;
  font-weight: 400;
  font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
  font-kerning: normal;
  color: var(--text-color);
  background-color: var(--bg-color);
  max-width: 210mm;
  box-sizing: border-box;
}

p {
  margin-block-end: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--text-color-subtlest);
}

h1,
h2,
h3,
p {
  margin-block-end: 1rem;
}

h1 {
  margin: 0;
  font-size: var(--splash-font-size);
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-block-end: 0.5rem;
  color: var(--text-color-subtle);
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container {
  padding: 1.25rem 2rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column:first-of-type {
  background-color: var(--accent-bg-color); /*#d99;*/
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: block;
  overflow: visible;
  height: var(--splash-font-size);
  width: var(--splash-font-size);
}

a {
  color: inherit;
}

a:hover,
a:focus-visible {
  color: var(--accent-bg-color-bold);
}

a:focus-visible {
  outline: 2px solid var(--accent-bg-color-bold);
}

footer {
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.footer-link {
  color: var(--text-color-subtle);
}

/** theming */
@media (prefers-color-scheme: dark) {
  :root {
    --neutral-surface: #666;
    --text-color: #fefefe;
    --text-color-subtle: hsl(0deg 0% 86.67% / 85%);
    --text-color-subtlest: hsl(0deg 0% 86.67% / 60%);
    --text-color-inverse: var(--accent-bg-color);
    --border-color: #333;
    --bg-color: #121;
    --accent-bg-color: hsl(240deg 61.54% 20.9%);
    --accent-bg-color-bold: hsl(240deg 61.54% 50.9%);
  }
}

@media print and (prefers-color-scheme: dark), (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #111;
    --text-color-subtle: hsl(0deg 0% 6.67% / 75%);
    --text-color-subtlest: hsl(0deg 0% 6.67% / 60%);
    --text-color-inverse: var(--accent-bg-color);
    --border-color: #eee;
    --accent-bg-color: hsl(240deg 61.54% 94.9%);
    --accent-bg-color-bold: hsl(240deg 61.54% 64.9%);
  }
}

/* mobile */
@media screen and (orientation: portrait) {
  :root {
    --splash-font-size: 3rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  address {
    grid-template-columns: repeat(2, 1fr);
  }
}
