//@background-dark: #2c3e50;
//@background-dark: #587c85;
@background-dark: #222;
@text-light: #ddd;
@text-light-link: darken(@text-light, 25%);

// social
@bitbucket: lighten(#205081, 10%);
@twitter: #00aced;
@medium: #00AB6B;
@github: #aaa;
@linkedin: lighten(#0077b5, 10%);

// pallette

@pallette-a: #e64c3b; //red
@pallette-b: #d2ecf1; // light-blue
@text: #2c3e50; // navy
@pallette-d: #587c85; // dark-grey


// http://www.color-hex.com/color-palette/52416
/*
@pallette-b: #f77524;
@pallette-d: #fcd549;
@pallette-a: #c81837; // red
@text: #0d1036;
@pallette-e: #39818e;


*/
/*
@pallette-b: #111;
@text: #eee;
@pallette-d: #222;
@pallette-a: #ddd;
*/
