@tailwind components;
@tailwind utilities;

p a {
  @apply underline font-normal;
}

a {
  @apply font-semibold;
}

.prose p {
  color: var(--text-color);
}

a {
  @apply no-underline;
}

header a {
  @apply text-inherit;
}

a:hover,
a:active,
a:focus {
  @apply text-brand.bold;
}

main,
header {
  @apply px-8;
}

article {
  @apply py-8;
}

.markdown {
  color: var(--text-color);
}
