@tailwind components;
@tailwind utilities;

a {
  @apply font-bold underline;
}

p,
li {
  color: var(--text-color-subtle);
}

header a {
  @apply no-underline;
}

a:hover,
a:active,
a:focus {
  @apply text-brand.bold;
}

main,
header {
  @apply px-8;
}

article {
  @apply py-8;
}

.markdown {
  color: var(--text-color);
}
