@import '@halyard/reset/reset.css';
@import '@halyard/reset/theme.css';
@import '@halyard/tailwind-preset';

/*
 * Source paths for Tailwind to scan
 */
@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

p a {
  @apply underline font-normal;
}

p {
  @apply text-subtle;
}

a {
  @apply font-semibold;
}

a {
  @apply no-underline;
}

header a {
  @apply text-inherit;
}

a:hover,
a:active,
a:focus {
  @apply text-brand-bold;
}

main,
header {
  @apply px-8;
}

article {
  @apply py-8;
}

.markdown {
  color: var(--text-color);
}
